{% extends "review/base.html" %}
{% block content %}
	<p><a class="btn btn-default" href="/">&laquo; back</a></p>
	<h1>{{ assignment.name }}</h1>

	<div class="alert alert-danger" role="alert">
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
	</div>
	<hr>
	<h2>File Upload</h2>

	<form action="{% url 'assignment' assignment.id %}" method="post" enctype="multipart/form-data" class="file-upload">
		<h3>Step 1:</h3>
	    {% csrf_token %}
	    {{ upload_form }}
		<h3>Step 2:</h3>
		<input type="submit" value="Upload" />
	</form>

	{% if upload %}
		<p class="file-uploaded alert bg-success">{{ upload }} has been uploaded.</p>
	{% endif %}

	<hr>
	<h2>Unit Test</h2>

	{% if upload %}
		<button>Start</button>
	{% else %}
		<p class="alert bg-danger">Unavailable! Please upload something.</p>
	{% endif %}

	<hr>
	<h2>Submit</h2>

	{% if upload %}
		<form action="{% url 'submit_assignment' submission.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="submit" name="submit" value="Submit" />
		</form>
	{% else %}
		<p class="alert bg-danger">Unavailable! Please upload something.</p>
	{% endif %}

{% endblock %}