{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <!-- Responsive - Scale screens correctly -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap Styles - v3.1.1 -->
        <link rel="stylesheet" href="{% static 'review/css/bootstrap.min.css' %}" />
        <!-- Custom Styles - Enkidu -->
    	<link rel="stylesheet" href="{% static 'review/css/style.css' %}" />
        <!-- Glyphicons Fonts -->
        <link rel="stylesheet" href="{% static 'review/css/fonts.css' %}" />  
        {% block css %}{% endblock %}

        <!-- Google Web Fonts: Roboto (Light, Regular, Normal, Bold) -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

        <!-- Scott Jehl's IE Compatibility: Works with older versions of IE, has to be inside the HEAD tag -->
        <script src="{% static 'review/js/respond.js' %}"></script> 
        {% block js %}{% endblock %}

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'review/images/favicon.ico' %}">

    	<title>{{ title }}</title>
    </head>

    <body>

        <header>
            <div class="container"> 
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                       
                        
                        <a href="{% url 'index' %}">
                            <img src="{% static 'review/images/enkidu-logo.jpg' %}" alt="Enkidu Logo" class="">
                        </a>
                    
                            
                    </div>

                    <div class="col-md-2 col-sm-2">
                       

                       {% if not user.is_staff %}

                            <a class="header-icon" href="{% url 'email_preferences' %}"><img src="{% static 'review/images/icon-settings.jpg' %}" title="Settings"></a>

                            <!-- THE BELOW LINK HAS TO BE LINKED TO THE 'HELP FORUM' SECTION -->
                            <a class="header-icon" href="{% url 'forum' %}"><img src="{% static 'review/images/icon-forum.jpg' %}" title="Help Forum"></a>

                       {% endif %}

                        <!-- THE BELOW LINK IS JUST FOR TESTING -->
                       <a class="temporal header-icon" href="{% url 'choose_user' %}"><span class="glyphicon glyphicon-user"></span></a>
                       
                    </div>
                </div>
            </div>
        </header>


        <section class="content">
            <div class="container">

        {% block content %}
        {% endblock %}

            </div>
        </section>



        <!-- Javascript: Loads when the rest of the webpage is already loaded -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Bootstrap JS: After jQuery because it depends on jQuery -->
        <script src="{% static 'review/js/bootstrap.min.js' %}"></script> 
        {% block jsEnd %}{% endblock %}

        
    </body>
</html>


