{% extends "review/base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'review/css/DateTimePicker.css' %}" />  
{% endblock %}


{% block content %}
	<p><a class="btn btn-default" href="{% url 'staff' %}"><span class="glyphicon glyphicon-chevron-left"></span>back</a></p>



	{% if error_message %}
	<div class="alert alert-danger" role="alert">
			<p><strong>{{ error_message }}</strong></p>
	</div>
	{% endif %}

	<section class="card">
		<div class="heading i-details">
			<h2>Edit Assignment </h2>
			<p>Change information of an assigment.</p>
		</div>
		<div class="container container-md">
			<div class="tab-content">

	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
		    {% csrf_token %}
		    {{ form.as_p }}
			<input type="submit" value="Save" />
		</div>
	</form>
	
</div>
		</div>
	</section>
{% endblock %}
{% block jsEnd %}
	<script src="{% static 'review/js/DateTimePicker.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var due_date = $("#id_due_date");
			var open_date = $("#id_open_date");
			var review_due_date = $("#id_review_due_date");
			var review_open_date = $("#id_review_open_date");
			due_date.attr('data-field', 'datetime');
			due_date.attr('readonly', true);
			open_date.attr('data-field', 'datetime');
			open_date.attr('readonly', true);
			review_due_date.attr('data-field', 'datetime');
			review_due_date.attr('readonly', true);
			review_open_date.attr('data-field', 'datetime');
			review_open_date.attr('readonly', true);
			due_date.after("<div id='dtbox1'></div>");
			open_date.after("<div id='dtbox2'></div>");
			review_due_date.after("<div id='dtbox3'></div>");
			review_open_date.after("<div id='dtbox4'></div>");

			$("#dtbox1").DateTimePicker();
			$("#dtbox2").DateTimePicker();
			$("#dtbox3").DateTimePicker();
			$("#dtbox4").DateTimePicker();
		});
	</script>
{% endblock %}