{% extends "review/base.html" %}
{% block content %}
	<p><a class="btn btn-default" href="{% url 'staff' %}"><span class="glyphicon glyphicon-chevron-left"></span>back</a></p>



	{% if error_message %}
	<div class="alert alert-danger" role="alert">
			<p><strong>{{ error_message }}</strong></p>
	</div>
	{% endif %}

	<section class="card">
		<div class="heading i-details">
			<h2>Edit Assignment </h2>
			<p>Change information of an assigment.</p>
		</div>
		<div class="container container-md">
			<div class="tab-content">

	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
		    {% csrf_token %}
		    {{ form.as_p }}
			<input type="submit" value="Save" />
		</div>
	</form>
	
</div>
		</div>
	</section>
{% endblock %}