{% extends "review/base.html" %}
{% block content %}
	<p><a class="btn btn-default" href="{% url 'index' %}"><span class="glyphicon glyphicon-chevron-left"></span>back</a></p>
	
{% if error_message %}
	<div class="alert alert-danger" role="alert">
			<p><strong>{{ error_message }}</strong></p>
	</div>
	{% endif %}

	<section class="card">
		<div class="heading i-settings">
			<h2>Settings</h2>
			<p>Manage your email preferences.</p>
		</div>

		<div class="container container-md">
			<div class="tab-content">
<h3>Email Preferences</h3>

	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
		    {% csrf_token %}
		    {{ form.non_field_errors }}
			<div class="row">
				<div class="col-md-6">
				    <div class="fieldWrapper">
					    {{ form.on_upload.errors }}
					    {{ form.on_upload }}
					    <label for="id_on_upload">On Assignment Upload</label>
					</div>
				    
				    <div class="fieldWrapper">
					    {{ form.on_submission.errors }}
					    {{ form.on_submission }}
					    <label for="id_on_submission">On Assignment Submission</label>
					</div>
				    
				    <div class="fieldWrapper">
					    {{ form.on_due_date.errors }}
					    {{ form.on_due_date }}
					    <label for="id_on_due_date">On Assignment Due Date</label>
					</div>
				    
				    <div class="fieldWrapper">
					    {{ form.on_open_date.errors }}
					    {{ form.on_open_date }}
					    <label for="id_on_open_date">On Assignment Open Date</label>
					</div>
				</div>
				<div class="col-md-6">   
				    <div class="fieldWrapper">
					    {{ form.on_review_received.errors }}
					    {{ form.on_review_received }}
						<label for="id_on_review_received">On Review Received</label>
					</div>

					<div class="fieldWrapper">
					    {{ form.on_review_assigned.errors }}
					    {{ form.on_review_assigned }}
					    <label for="id_on_review_assigned">On Review Assigned</label>
					</div>

					<div class="fieldWrapper">
					    {{ form.on_question_answered.errors }}
					    {{ form.on_question_answered }}
					    <label for="id_on_question_answered">On Question Answered</label>
					</div>

					<div class="fieldWrapper">
					    {{ form.on_question_asked.errors }}
					    {{ form.on_question_asked }}
					    <label for="id_on_question_asked">On Question Asked</label>
					</div>	
				</div>
			</div>
			<input class="settings-button" type="submit" value="Save" />
		</div>
	</form>


</div>
</div>
</section>
{% endblock %}

