{% extends "review/base.html" %}
{% load template_tags %}
{% block content %}
	<section class="card">
			<div class="heading i-forum">
				<h2>Help Forum</h2>
				<p>Here you can find answers to questions you might have or you can ask a question to the community.</p>
			</div>

			<p class="plus-button">
				<a class="btn btn-primary" href="{% url 'add_question' %}">
					<span class="glyphicon glyphicon-plus"></span> Ask a question
				</a>
			</p>

			<div class="container container-md">
		
			
			<table class="table table-hover">
				<thead>
					
					<th width="70"></th>
					<th>Question</th>
					<th>Number of responses</th>
					<th>Date</th>
					<th></th>
				</thead>
				<tbody>
					{% for question in questions %}
						{% if question.stickied %}
							<tr>
								{% if question.has_answer %}
									<td><p class="status flag-green"></p></td>
								{% else %}
									<td><p class="status flag-red"></p></td>
								{% endif %}
								<td>
									<a href="{% url 'question' question.id %}">{{ question.title }}</a>
									{% if question.is_staff %}
										<span class="label label-info">Staff Question</span>
									{% endif %}
								</td>
								<td>{{ question.number_of_responses }}</td>
								<td>{{ question.create_date }}</td>
								<!--<td><span class="glyphicon glyphicon-pushpin"></span></td>-->
								<td><span class="status pin-red"></span></td>
							</tr>
						{% endif %}
					{% endfor %}

					{% for question in questions %}
						{% if not question.stickied %}
							<tr>
								{% if question.has_answer %}
									<td><p class="status flag-green"></p></td>
								{% else %}
									<td><p class="status flag-red"></p></td>
								{% endif %}
								<td>
									<a href="{% url 'question' question.id %}">{{ question.title }}</a>
									{% if question.is_staff %}
										<span class="label label-info">Staff Question</span>
									{% endif %}
								</td>
								<td>{{ question.number_of_responses }}</td>
								<td>{{ question.create_date }}</td>
								<!--<td></td>-->
								<td><span class="status pin-gray"></span></td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}