{% extends "review/base.html" %}
{% load template_tags %}
{% block content %}
	<h1>{{ course }}</h1>
	<hr/>
	<h2>My Assignments</h2>
	<ul>
		{% for assignment in assignments %}
		  <li>
		  	{% if assignment.due_date_passed == True %}
		  		{{ assignment }} - Closed - Due date: {{ assignment.due_date }}
		  	{% else %}
		  		<a href="{% url 'assignment' assignment.id %}">{{ assignment }} - Open - {{ assignment.due_date }}</a>
		  	{% endif %}
		  	<a href="{% url 'assignment_description' assignment.id %}"> View Description</a>
		  	{% if assignment.id in submissions.keys %}
		  		<a href="{% url 'submission' submissions|get_item:assignment.id  %}">View submission</a>
		  	{% endif %}
		  </li>
		{% endfor %}
	</ul>
	<hr/>
	<h2>Code Review</h2>
	<ul>
		{% for review in assigned_reviews %}
		  <li>
		  	<a href="{% url 'submission' review.assigned_submission.id %}">
		  		{{ review.assigned_submission.assignment }}
		  	</a>
		  </li>
		{% endfor %}
	</ul>
{% endblock %}