{% extends "review/base.html" %}
{% load template_tags %}
{% block content %}
	<h1>{{ course }}</h1>
	<hr/>
	<h2>My Assignments</h2>

	<table class="table table-striped">
		<thead>
			<th>Assignment</th>
			<th>Status</th>
			<th>Due date</th>
			<th>Submission</th>
			<th>Files submitted</th>

		</thead>
		<tbody>
			{% for assignment in assignments %}
			<tr>
				
				
				{% if assignment.due_date_passed == True %}
				<td>{{ assignment }} <br> <a href="{% url 'assignment_description' assignment.id %}"> Details &raquo;</a></td> 
				<td><p class="status bg-danger">Closed</p></td>
				<td>{{ assignment.due_date }}</td>
				<td><button type="button" class="btn btn-default" disabled="disabled">Unavailable</button></td>

			  	{% else %}
			  	<td>{{ assignment }} <br> <a href="{% url 'assignment_description' assignment.id %}"> Details &raquo;</a></td>
			  	<td><p class="status bg-success">Open</p></td>
			  	<td>{{ assignment.due_date }}</td>
			  	<td><a class="btn btn-success" href="{% url 'assignment' assignment.id %}">Submit now</a></td>
			  	
			  	{% endif %}
				
				
				<td>
				  	{% if assignment.id in submissions.keys %}
				  		<a href="{% url 'submission' submissions|get_item:assignment.id  %}">View</a>
				  	{% endif %}
				</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>

	
	<hr/>
	<h2>Code Review</h2>

	<table class="table table-striped">
		<tbody>
			{% for review in assigned_reviews %}
			<tr>
				<td>
				  	<a href="{% url 'submission' review.assigned_submission.id %}">
				  		{{ review.assigned_submission.assignment }}
				  	</a>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>


{% endblock %}