{% extends "review/base.html" %}
{% load staticfiles %}
{% load template_tags %}
{% block content %}
	<!--<h1>{{ course }}</h1>-->
	
	<section class="card">
		<div class="heading i-assignment">
			<h2>My Assignments</h2>
			<p>List of the course assignments where you can submit your code, view submitted files and check comments from peers.</p>
		</div>
		<div class="container container-md">
			<table class="table table-hover">
				<thead>
					<th width="70"></th>
					<th>Assignment</th>
					<th></th>
					<th>Submission</th>
					<th>Due date</th>
					<th>Files submitted</th>
				</thead>
				<tbody>
					{% for assignment in assignments %}
					<tr>
						
						
						{% if assignment.due_date_passed == True %}
						<td><p class="status negative"></p></td>
						<td><span class="ass-title">{{ assignment }} </span> </td>
						<td>
							<a class="info" href="{% url 'assignment_description' assignment.id %}"> i </a>
						</td>

						<td><button type="button" class="btn btn-default" disabled="disabled">Submitted</button></td>
						<td>{{ assignment.due_date }}</td>

					  	{% else %}
					  	<td><p class="status positive"></p></td>
					  	<td><span class="ass-title">{{ assignment }} </span></td>
						<td>
					  	<a class="info" href="{% url 'assignment_description' assignment.id %}"> i</a></td>
					  	<td><a class="btn btn-primary" href="{% url 'assignment' assignment.id %}">Submit now</a></td>
					  	
					  	<td>{{ assignment.due_date }}</td>
					  	
					  	{% endif %}
						
						
						<td>
						  	{% if assignment.id in submissions.keys %}
						  		<a class="btn btn-secondary btn-primary" href="{% url 'submission' submissions|get_item:assignment.id  %}">View feedback</a>
						  	{% else %}
								<a class="btn btn-secondary btn-default" disabled="disabled">Unavailable</a>

						  	{% endif %}
						</td>
						
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<section class="card">
		<div class="heading i-review">
			<h2>Peer Review</h2>
			<p>Peer assignment files for you to review. Select an assignment that is pending review and open the code to leave your feedback.</p>
		</div>
		
		<div class="container container-md">

			<table class="table table-hover">
				<thead>
					<th width="70"></th>
					<th>Assignment</th>
					<th></th>
					<th>Review</th>
					<th>Due date</th>
				</thead>
				<tbody>
					{% for review in assigned_reviews %}
					<tr>
						<td><p class="status code"></p></td>
						<td><span class="ass-title">
							{{ review.assigned_submission.assignment }}
						</span>
						</td>
						<td>
							<a class="info" href="{% url 'assignment_description' review.assigned_submission.assignment.id %}"> i </a>
						</td>
						<td><a class="btn btn-primary" href="{% url 'submission' review.assigned_submission.id %}">Review now</a></td>
					  	
						<td>{{ review.assigned_submission.assignment.review_due_date }}</td>
					</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

{% endblock %}