{% extends "review/base.html" %}
{% block content %}
	<p><a class="btn btn-default" href="{% url 'index' %}"><span class="glyphicon glyphicon-chevron-left"></span>back to forum</a></p>

	<section class="card">
		<div>
			<h2>{{ question.title }}</h2>
			<p class="questions-small">Created {{ question.create_date }}</p>
			<p>{{ question.text|safe }}</p>

			{% if question.edited %}
				<p class="questions-small"><em>Edited {{ question.modified_date }}</em></p>
			{% endif %}

			{% if question.user == user %}
		<a class="btn btn-primary" href="{% url 'edit_question' question.id %}"><span class="glyphicon glyphicon-edit"></span> Edit </a>
	{% endif %}
			
		</div>
		<div class="container container-md">
	
	

	{% if error_message %}
	<div class="alert alert-danger" role="alert">
			<p><strong>{{ error_message }}</strong></p>
	</div>
	{% endif %}

	

	
	

	

	{% for comment in question.get_comments %}
		<div style="margin-left:20px;">
			<p>{{ comment.text|safe }}</p>
			<p>{{ comment.create_date }}</p>
		</div>
	{% endfor %}

	<hr />
	<div class="container container-md">
	{% for response in responses %}
		
		<p class="questions-user">
			{% if response.selected_answer %}
			<span class="glyphicon glyphicon-ok"></span>
		{% endif %}


			{{ response.get_user }} <span class="questions-small">{{ response.modified_date }}</span>  </p>
		{% if response.is_staff %}
			<p class="staff-question">{{ response.text|safe }}</p>
		{% else %}
			<p>{{ response.text|safe }}</p>
		{% endif %}
		

		{% if user == response.question.user and not response.question.has_answer%}
			<a class="btn btn-default" href="{% url 'set_as_answer' response.id %}"><span class="glyphicon glyphicon-check"></span>Set as answer</a>
		{% endif %}
		{% for comment in response.get_comments %}
			<div style="margin-left:20px;">
				<p>{{ comment.text|safe }}</p>
				<p>{{ comment.create_date }}</p>
			</div>
		{% endfor %}
		<hr />
	{% endfor %}
	</div>
	
	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
		    {% csrf_token %}
		    {{ form.as_p }}
			<input type="submit" value="Post" />
		</div>
	</form>
	
</div>
</section>
{% endblock %}