{% extends "review/base.html" %}
{% load template_tags %}
{% block content %}
	<!--<h1>{{ course }}</h1>-->
	<section class="card">
		<div class="heading i-assignment">
			<h2>Manage Assignments</h2>
			<p>Here you can create, edit and manage assignments.</p>
		</div>

		<p class="plus-button">
			<a class="btn btn-primary" href="{% url 'add_assignment' %}">
				<span class="glyphicon glyphicon-plus"></span> Add assignment
			</a>
		</p>

		<div class="container container-md">
	

	

	

	<table class="table table-hover">
		<thead>
			<th width="70"></th>
			<th>Assignment</th>
			<th></th>
			<th>Submission</th>
			<th>Due date</th>
			<th>Edit assignment</th>
		</thead>
		<tbody>
			{% for assignment in assignments %}
			<tr>
				{% if assignment.due_date_passed == True %}
					<td><p class="status negative"></p></td>
				{% else %}
					<td><p class="status positive"></p></td>
				{% endif %}
				<td><span class="ass-title">{{ assignment }}</span> </td>  

				<td>
					<a class="info" href="{% url 'assignment_description' assignment.id %}"> i </a>
				</td>
				<td><a class="btn btn-primary" href="{% url 'list_submissions' assignment.id %}">View Submissions</a></td>
				
				<td>{{ assignment.due_date }}</td>
				
				
				<td><a class="btn btn-secondary btn-primary" href="{% url 'edit_assignment' assignment.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	</div>
	</section>


	<section class="card">
		<div class="heading i-forum">
			<h2>Help Forum</h2>
			<p>Here you can find answers to questions you might have or you can ask a question to the community.</p>
		</div>

		<p class="plus-button">
			<a class="btn btn-primary" href="{% url 'add_question' %}">
				<span class="glyphicon glyphicon-plus"></span> Ask a question
			</a>
		</p>

		<div class="container container-md">

		
		<table class="table table-hover">
			<thead>
				<!--<th></th> *** FOR PIN *** --> 
				<th width="70"></th>
				<th>Question</th>
				<th>Number of responses</th>
				<th>Date</th>
				<th>Sticky</th>
			</thead>
			<tbody>
				{% for question in questions %}
					{% if question.stickied %}
						<tr>
							<!--<td><span class="glyphicon glyphicon-pushpin"></span></td> *** FOR PIN *** --> 
							<td><p class="status flag-green"></p></td> <!-- *** LUKE *** This is for answered question --> 
							<td>
								<a class="text" href="{% url 'question' question.id %}">{{ question.title }}</a>
								{% if question.is_staff %}
									<span class="label label-info">Staff Question</span>
								{% endif %}
							</td>
							<td>{{ question.number_of_responses }}</td>
							<td>{{ question.create_date }}</td>
							{% if question.stickied %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-red"></span></a></td>
							{% else %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-gray"></span></a></td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}

				{% for question in questions %}
					{% if not question.stickied %}
						<tr>
							<!--<td></td> *** FOR PIN *** --> 
							<td><p class="status flag-red"></p></td> <!-- *** LUKE *** This is for NON-answered question -->
							<td>
								<a class="text" href="{% url 'question' question.id %}">{{ question.title }}</a>
								{% if question.is_staff %}
									<span class="label label-info">Staff Question</span>
								{% endif %}
							</td>
							<td>{{ question.number_of_responses }}</td>
							<td>{{ question.create_date }}</td>
							{% if question.stickied %}
								<td>
									<a href="{% url 'sticky' question.id %}">
										<span class="status pin-red"></span>
									</a>
								</td>
							{% else %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-gray"></span></a></td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

	

	</div>
	</section>

	
		<section class="card">

		<div class="heading i-faq">
			<h2>Frequently Asked Questions</h2>
			<p>This is a list of questions that have been alredy solved in past courses.</p>
		</div>

		<p class="plus-button">
			<a class="btn btn-primary" href="{% url 'add_faq' %}">
				<span class="glyphicon glyphicon-plus"></span> Add a question
			</a>
		</p>
		
		<div class="container container-md">
			
				
				<table class="table table-hover">
					<thead>
						<th>Question</th>
						<th>Answer</th>
					</thead>
					<tbody>
						{% for faq in faqs %}
							<tr>
								<td><a href="{% url 'faq' faq.id %}">{{ faq.title }}</a></td>
								<td>{{ faq.summary }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>

	<section class="card">

		

	<div class="heading i-report">
		<h2>User Report</h2>
		<p>Statistics to measure user engagement.</p>
	</div>

	
	<div class="container container-md">
		
			
			<table class="table table-hover">
				<thead>
					<th>User</th>
					<th>Assignments Submitted</th>
					<th>Reviews done</th>
					<th>Total Rating</th>
					<th>Questions</th>
					<th>Answers</th>
				</thead>
				<tbody>
					{% for report in reports %}
					<tr>
						<td>{{ report.user }}</td>
						<td>{{ report.num_submitted }}</td>
						<td>3/3</td>
						<td>9/12</td>
						<td>{{ report.num_questions }}</td>
						<td>{{ report.num_answers }}</td>
					</tr>

					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</section>

	<section class="card">

		

	<div class="heading i-report">
		<h2>Help Forum Report</h2>
		<p>Statistics to measure Help Forum impact.</p>
	</div>

	
	<div class="container container-md">
		
			
			<table class="table table-hover">
				<thead>
					<th>Question</th>
					<th>Votes</th>
					<th>Responses</th>
					<th>Answered</th>
					<th>Top voted response</th>
				</thead>
				<tbody>
					{% for question in questions %}
					<tr>
						<td><a href="{% url 'question' question.id %}">{{ question.title }}</a></td>
						<td>25</td>
						<td>{{ question.number_of_responses }}</td>
						{% if question.has_answer %}
							<td><span class="green">Yes</span></td>
						{% else %}
							<td><span class="red">No</span></td>
						{% endif %}
						{% if question.number_of_responses == 0 %}
							<td>-</td>
						{% else %}
							<td>86</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}