{% extends "review/base.html" %}
{% load template_tags %}
{% block content %}
	<!--<h1>{{ course }}</h1>-->
	<section class="card">
		<div class="heading i-assignment">
			<h2>Manage Assignments</h2>
			<p>Here you can create, edit and manage assignments.</p>
		</div>

		<p class="plus-button">
			<a class="btn btn-primary" href="{% url 'add_assignment' %}">
				<span class="glyphicon glyphicon-plus"></span> Add assignment
			</a>
		</p>

		<div class="container container-md">
	

	

	

	<table class="table table-hover">
		<thead>
			<th width="70"></th>
			<th>Assignment</th>
			<th></th>
			<th>Submission</th>
			<th>Due date</th>
			<th>Edit assignment</th>
		</thead>
		<tbody>
			{% for assignment in assignments %}
			<tr>
				{% if assignment.due_date_passed == True %}
					<td><p class="status negative"></p></td>
				{% else %}
					<td><p class="status positive"></p></td>
				{% endif %}
				<td><span class="ass-title">{{ assignment }}</span> </td>  

				<td>
					<a class="info" href="{% url 'assignment_description' assignment.id %}"> i </a>
				</td>
				<td><a class="btn btn-primary" href="{% url 'list_submissions' assignment.id %}">View Submissions</a></td>
				
				<td>{{ assignment.due_date }}</td>
				
				
				<td><a class="btn btn-secondary btn-primary" href="{% url 'edit_assignment' assignment.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	</div>
	</section>


	<section class="card">
		<div class="heading i-forum">
			<h2>Help Forum</h2>
			<p>Here you can find answers to questions you might have or you can ask a question to the community.</p>
		</div>

		<p class="plus-button">
			<a class="btn btn-primary" href="{% url 'add_question' %}">
				<span class="glyphicon glyphicon-plus"></span> Ask a question
			</a>
		</p>

		<div class="container container-md">

		
		<table class="table table-hover">
			<thead>
				<!--<th></th> *** FOR PIN *** --> 
				<th width="70"></th>
				<th>Question</th>
				<th>Number of responses</th>
				<th>Date</th>
				<th>Sticky</th>
			</thead>
			<tbody>
				{% for question in questions %}
					{% if question.stickied %}
						<tr>
							<!--<td><span class="glyphicon glyphicon-pushpin"></span></td> *** FOR PIN *** --> 
							<td><p class="status flag-green"></p></td> <!-- *** LUKE *** This is for answered question --> 
							<td>
								<a class="text" href="{% url 'question' question.id %}">{{ question.title }}</a>
								{% if question.is_staff %}
									<span class="label label-info">Staff Question</span>
								{% endif %}
							</td>
							<td>{{ question.number_of_responses }}</td>
							<td>{{ question.create_date }}</td>
							{% if question.stickied %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-red"></span></a></td>
							{% else %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-gray"></span></a></td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}

				{% for question in questions %}
					{% if not question.stickied %}
						<tr>
							<!--<td></td> *** FOR PIN *** --> 
							<td><p class="status flag-red"></p></td> <!-- *** LUKE *** This is for NON-answered question -->
							<td>
								<a class="text" href="{% url 'question' question.id %}">{{ question.title }}</a>
								{% if question.is_staff %}
									<span class="label label-info">Staff Question</span>
								{% endif %}
							</td>
							<td>{{ question.number_of_responses }}</td>
							<td>{{ question.create_date }}</td>
							{% if question.stickied %}
								<td>
									<a href="{% url 'sticky' question.id %}">
										<span class="status pin-red"></span>
									</a>
								</td>
							{% else %}
								<td><a href="{% url 'sticky' question.id %}"><span class="status pin-gray"></span></a></td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

	

	</div>
	</section>
{% endblock %}