{% extends "review/base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'review/jstree.min.css' %}" />
	{% if not is_owner %}
		<link rel="stylesheet" href='{% static "review/annotator.min.css" %}'>
	{% endif %}
{% endblock %}

{% block js %}
	<script src="{% static 'review/jstree.min.js' %}"></script>
	{% if not is_owner %}
		<script src='{% static "review/annotator-full.min.js" %}'></script>
	{% endif %}
{% endblock %}

{% block content %}
	{% if is_owner %}
		<h1>Viewing submission for {{ submission.assignment.name }}</h1>
	{% else %}
		<h1>Reviewing submission for {{ submission.assignment.name }}</h1>
	{% endif %}
	<p><a href="/">Back</a></p>
	<div id="filetree" style="float:left; margin-right: 20px;"></div>
	<pre id="filecontents" style="float:left;"></pre>

	<script type="text/javascript">
		var fileStructure = {{ file_structure|safe }};
		var is_reviewer = ! {{ is_owner|yesno:"true,false" }};

		$(document).ready( function() {
		  $(function () { 
		  	$('#filetree').on('changed.jstree', function (e, data) {
				    var node = data.instance.get_node(data.selected);
				    var path = "";
				    for(var i=node.parents.length-1; i >= 0; i--){
				    	path += node.parents[i];
				    	path += '/';
				    }
				    path += node.id;

				    data = {
				    	path: path,
				    	submission_id: {{ submission.id }},
				    	csrfmiddlewaretoken: '{{ csrf_token }}'
				    };

				    $.ajax({
			        type: "POST",
			        url: "/app/get_submission_file/",
			        data: data,
			        success: function(data) {
            		$('#filecontents').html(data.file_contents);
            		if(is_reviewer){
									activateAnnotator();
								}
        			}   
     				}); 
				  }).jstree(fileStructure)});
		});
		
		function activateAnnotator(){
			//Activates the annotation plugin.
			jQuery(function ($) {$('#filecontents').annotator();});
		}

	</script>
{% endblock %}