{% extends "review/base.html" %}
{% block content %}
	<p><a class="btn btn-default" href="{% url 'index' %}">&laquo; back</a></p>
	<h1>Submission completed</h1>
	<hr/>
	<p class="alert bg-success">The files have been submitted successfully.</p>
	<hr/>
	<h2>What's next?</h2>
	<p>
		These are recommended actions after submitting your assignment:
	</p>
	<ul>
		<li>Print the <a href="#">Submission Receipt</a></li>
		<li>Go back to <a href="{% url 'index' %}">My Assignments</a> to display the code submitted</li>
		<li>Visit the <a href="#">Help Forum</a> to contribute with the community</li>
	</ul>
{% endblock %}


