{% extends "review/base.html" %}
{% load staticfiles %}
{% load template_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'review/jstree.min.css' %}" />
	<link rel="stylesheet" href='{% static "review/annotator.min.css" %}'>
{% endblock %}

{% block js %}
	<script src="{% static 'review/jstree.min.js' %}"></script>
	<script src='{% static "review/annotator-full.min.js" %}'></script>
{% endblock %}

{% block content %}
	{% if is_owner %}
		<h1>Viewing submission for {{ submission.assignment.name }}</h1>
		<ul>
			<li class="submission-tab" data-id="0">Original</li>
			{% for i in reviews|get_range %}
      			<li class="submission-tab" data-id="{{ i }}">Review {{ i }}</li>
		    {% endfor %}
		</ul>
	{% else %}
		<h1>Reviewing submission for {{ submission.assignment.name }}</h1>
	{% endif %}
	<p><a href="/">Back</a></p>
	<div id="filetree" style="float:left; margin-right: 20px;"></div>
	<pre id="filecontents" style="float:left;"></pre>

	<script type="text/javascript">
		//TODO - This is a fake user
		var currentUserID = {{ user }};
		var currentSubmissionFile;

		var content;

		var activeTab = "0"; //0 represents original, other nubmers represent the reviews
		var reviews = {{ reviews|safe }};
		console.log(reviews);
		var fileStructure = {{ file_structure|safe }};
		var is_reviewer = ! {{ is_owner|yesno:"true,false" }};

		$('.submission-tab').click(function(){
			var clickedTab = $(this).data('id')
			if($(this).data('id') != activeTab){
				activeTab = clickedTab;
				if (clickedTab == '0'){
					clearComments();
				}else{
					loadComments();
				}
			}
		})

		$(document).ready( function() {
		  $(function () { 
		  	$('#filetree').on('changed.jstree', function (e, data) {
				    var node = data.instance.get_node(data.selected);
				    //Check for children. If they exist, the node is a directory.
				    if(node.children.length == 0){
				    	var path = "";
					    for(var i=node.parents.length-1; i >= 0; i--){
					    	path += node.parents[i];
					    	path += '/';
					    }
					    path += node.id;
					    data = {
					    	path: path,
					    	submission_id: {{ submission.id }},
					    	csrfmiddlewaretoken: '{{ csrf_token }}'
					    };
					    $.ajax({
				        type: "POST",
				        url: "/app/get_submission_file/",
				        data: data,
				        success: function(data) {
	            			$('#filecontents').html(data.file_contents);
	            			currentSubmissionFile = data.submission_file_id;
	            			if(is_reviewer){
								activateAnnotator(data.submission_file_id, currentUserID);
							}
	        			}   
	     				}); 
				    } 
				  }).jstree(fileStructure)});
		});
		
		function activateAnnotator(submissionFileID, userID){
			console.log("Activating annotator");
			//Activates the annotation plugin.
			// if(content != null){
				// $('#filecontents').annotator('destroy');
				// content.annotator('destroy');
			// }
			clearComments();

			//Set annoations as read only if not a reviewer.
			if(!is_reviewer){
				content = $('#filecontents').annotator({readOnly: true});
			}else{
				content = $('#filecontents').annotator();
			}

			content.annotator('addPlugin', 'Store', {
			  // The endpoint of the store on your server.
	     	prefix: '/app/annotator_api',

	      // Attach the uri of the current page to all annotations to allow search.
	      annotationData: {
	        'uri': submissionFileID + '+' + userID,
	      },

	      // This will perform a "search" action when the plugin loads. Will
	      // request all notations for the given ID.
	      loadFromSearch: {
	        'uri': submissionFileID,
      	}
			});
		}

		function loadComments(){
			var review = reviews[parseInt(activeTab)-1];
			if(currentSubmissionFile){
				activateAnnotator(currentSubmissionFile, review.user_id);
			}
		}

		function clearComments(){
			if(content != null){
				content.annotator('destroy');
				content = null;
			}
		}

	</script>
{% endblock %}