{% extends "review/base.html" %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'index' %}"><span class="glyphicon glyphicon-chevron-left"></span>back</a></p>


	<section class="card">
		<div class="heading i-check">
			<h2>Submission completed</h2>
			<p>Confirmation of submitted files.</p>
		</div>
		<div class="container container-md">
	<div class="tab-content">
		

	
	<p class="alert bg-success">The files have been submitted successfully.</p>
	
	<h3>What's next?</h3>
	<p>
		These are recommended actions after submitting your assignment:
	</p>
	<ul>
		<li>Print the <a href="#">Submission Receipt</a></li>
		<li>Go back to <a href="{% url 'index' %}">My Assignments</a> to display the code submitted</li>
		<li>Visit the <a href="#">Help Forum</a> to contribute with the community</li>
	</ul>
		</div></div>
</section>
	
{% endblock %}


