{% extends "review/base.html" %}
{% load staticfiles %}
{% load template_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'review/jstree.min.css' %}" />
	{% if not is_owner %}
		<link rel="stylesheet" href='{% static "review/annotator.min.css" %}'>
	{% endif %}
{% endblock %}

{% block js %}
	<script src="{% static 'review/jstree.min.js' %}"></script>
	{% if not is_owner %}
		<script src='{% static "review/annotator-full.min.js" %}'></script>
	{% endif %}
{% endblock %}

{% block content %}
	{% if is_owner %}
		<h1>Viewing submission for {{ submission.assignment.name }}</h1>
		<ul>
			<li class="submission-tab" data-id="0">Original</li>
			{% for i in reviews|get_range %}
      			<li class="submission-tab" data-id="{{ i }}">Review {{ i }}</li>
		    {% endfor %}
		</ul>
	{% else %}
		<h1>Reviewing submission for {{ submission.assignment.name }}</h1>
	{% endif %}
	<p><a href="/">Back</a></p>
	<div id="filetree" style="float:left; margin-right: 20px;"></div>
	<pre id="filecontents" style="float:left;"></pre>

	<script type="text/javascript">
		var activeTab = "0"; //0 represents original, other nubmers represent the reviews
		var reviews = {{ reviews|safe }};
		console.log(reviews);
		var fileStructure = {{ file_structure|safe }};
		var is_reviewer = ! {{ is_owner|yesno:"true,false" }};

		$('.submission-tab').click(function(){
			var clickedTab = $(this).data('id')
			if($(this).data('id') != clickedTab){
				activeTab = clickedTab;
				if (activeTab == '0'){
					clearComments();
				}else{
					loadComments();
				}
			}
		})

		$(document).ready( function() {
		  $(function () { 
		  	$('#filetree').on('changed.jstree', function (e, data) {
				    var node = data.instance.get_node(data.selected);
				    //Check for children. If they exist, the node is a directory.
				    if(node.children.length == 0){
				    	var path = "";
					    for(var i=node.parents.length-1; i >= 0; i--){
					    	path += node.parents[i];
					    	path += '/';
					    }
					    path += node.id;
					    data = {
					    	path: path,
					    	submission_id: {{ submission.id }},
					    	csrfmiddlewaretoken: '{{ csrf_token }}'
					    };
					    $.ajax({
				        type: "POST",
				        url: "/app/get_submission_file/",
				        data: data,
				        success: function(data) {
	            			$('#filecontents').html(data.file_contents);
	            			if(is_reviewer){
								activateAnnotator(data.submission_file_id);
							}
	        			}   
	     				}); 
				    } 
				  }).jstree(fileStructure)});
		});
		
		function activateAnnotator(submissionFileID){
			//Activates the annotation plugin.
			$('#filecontents').annotator('destroy');
			var content = $('#filecontents').annotator();
			content.annotator('addPlugin', 'Store', {
				// The endpoint of the store on your server.
	      prefix: '/app/annotator_api',

	      // Attach the uri of the current page to all annotations to allow search.
	      annotationData: {
	        'uri': submissionFileID,
	      },

	      // This will perform a "search" action when the plugin loads. Will
	      // request the last 20 annotations for the current url.
	      // eg. /store/endpoint/search?limit=20&uri=http://this/document/only
	      loadFromSearch: {
	        // 'limit': 20,
	        'uri': submissionFileID,
	      }
			});
		}

		function loadComments(){
			console.log(reviews);
			activateAnnotator();
		}

	</script>
{% endblock %}