/*
//                      INDEX
// -------------------------------------------------- 
    1. MAIN LAYOUT STYLES
    2. GENERAL STYLES
    3. PAGE STYLES
      3.1 BASE
      3.2 INDEX 
      3.3 ASSIGNMENT 
      3.4 ASSIGNMENT DESCRIPTION
      3.5 SUBMISSION
      3.6 QUESTION
    4. NAVBARS
    5. FORMS
    6. BUTTONS
    7. MODALS
    8. PLUGINS
    9. MEDIA QUERIES
/*
//                      END: INDEX
// -------------------------------------------------- 


/*
// 1. MAIN LAYOUT STYLES
// -------------------------------------------------- */

html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 20px;
  padding-bottom: 40px
}

body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2,
body .h3, body .h4, body .h5, body .h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: inherit;
}

body h1, body h2, body h3 {
  line-height: 34px;
}

body h1 {
  font-size: 34px;
  margin-bottom: 20px 
}

body h2 {
  font-size: 26px; 
}

body h3 {
  font-size: 18px; 
}

a:hover {
  text-decoration: none; 
}

input[type="text"],
input[type="password"],
input[type="submit"],
textarea { font-family: Arial, sans-serif; }


/*
// END: MAIN LAYOUT STYLES
// -------------------------------------------------- */


/*
// 2. GENERAL STYLES
// -------------------------------------------------- */

body h2{
  color: #666;
  padding-top: 20px;
}
body h3{
  color: #666;
  font-weight: normal;
}
header{
  background-color: #CCC;
}
footer{
  background-color: #E2E5E4;
}
/*
// END: GENERAL STYLES
// -------------------------------------------------- */


/*
// 3. PAGE STYLES
// -------------------------------------------------- */

/*
// 3.1. BASE - PAGE STYLES
// -------------------------------------------------- */
header .container{
  padding: 20px 0;
  margin-bottom: 20px;
}
.temporal{
  float: right;
  padding-top: 5px; 
}
.table{
  margin: 10px 0;
}
/*
// END: BASE - PAGE STYLES
// -------------------------------------------------- */


/*
// 3.2. INDEX - PAGE STYLES
// -------------------------------------------------- */

p.status{
  font-weight: bold;
  text-transform: uppercase;
}
p.status.positive{
  color: green;
}
p.status.negative{
  color: red;
}

/*
// END: INDEX - PAGE STYLES
// -------------------------------------------------- */


/*
// 3.3. ASSIGNMENT - PAGE STYLES
// -------------------------------------------------- */

.file-upload {
  padding-left: 20px;
}

.file-upload label, .file-upload input{
  display: inline-block;
}

.file-upload label{
  font-weight: normal;
  padding-right: 10px;
}

.file-uploaded.alert {
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.form-group p label{
  display: block;
  margin-top: 15px;
}

.form-group p input[type="text"], .form-group p textarea{
  width: 40%;
}


/*
// END: ASSIGNMENT - PAGE STYLES
// -------------------------------------------------- */


/*
// 3.4. ASSIGNMENT DESCRIPTION - PAGE STYLES
// -------------------------------------------------- */



/*
// END: ASSIGNMENT DESCRIPTION - PAGE STYLES
// -------------------------------------------------- */


/*
// 3.5. SUBMISSION - PAGE STYLES
// -------------------------------------------------- */
p.instructions{
  font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}
p.instructions span{
  border-radius:250px;
  font-size:18px;
  color:#fff;
  text-align:center;
  background:#000;
  padding: 5px 9px;
  font-size: 14px;
  margin-right: 5px;

}
.nav-tabs{
  position: relative;
  top: 21px;
  z-index: 9999;
}
span.glyphicon{
  font-size: 18px;
  margin-right: 5px;
}
i.glyphicon-file{
  padding-right: 5px;
}
div#filetree{
  margin-bottom: 10px;
  overflow-x: auto;
}
pre#filecontents{
  overflow: visible;
  word-wrap: auto;
  width: 100%;
  background: url(../../static/review/images/80char.png) repeat-y left top local;
  padding-bottom: 20px;
}
.review-buttons{
  text-align: right;
  padding-right: 15px;
}
/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.5. SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

.staff-question {
  /*border: 1px solid orange;*/
  background: #FFF135;
  padding: 10px;
}

/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// END: GENERAL STYLES
// -------------------------------------------------- */

