/*
//                      INDEX
// -------------------------------------------------- 
    1. MAIN LAYOUT STYLES
    2. GENERAL STYLES
    3. PAGE STYLES
      3.1 BASE
      3.2 INDEX 
      3.3 ASSIGNMENT 
      3.4 ASSIGNMENT DESCRIPTION
      3.5 SUBMISSION
      3.6 CODE VIEW/REVIEW
      3.7 HELP FORUM
    4. PLUGINS
    5. MEDIA QUERIES
/*
//                      END: INDEX
// -------------------------------------------------- 


/*
// 1. MAIN LAYOUT STYLES
// -------------------------------------------------- */

html {
  margin: 0;
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 20px;
  padding-bottom: 40px;
  color: #959595;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  color: inherit;
}
body h1 {
  font-size: 34px;
  margin-bottom: 20px;
}
body h2 {
  font-size: 34px;
  line-height: normal;
}
body h3 {
  font-size: 18px;
}
a.text:link,
a.text:visited {
  color: #006fb9;
}
a.text:hover {
  color: #2196f3;
}
a:hover {
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  font-family: 'Roboto', Arial, sans-serif;
}
.glyphicon {
  font-size: 12px !important;
}
/*
// END: MAIN LAYOUT STYLES
// -------------------------------------------------- */

/*
// 2. GENERAL STYLES
// -------------------------------------------------- */

body h2 {
  color: #434244;
  font-weight: 400;
}
body h3 {
  color: #666666;
  font-weight: normal;
}
header {
  background-color: #006fb9;
}
footer {
  background-color: #e2e5e4;
}
.card {
  background-color: #f9f9f9;
  padding: 10px 25px 20px 25px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px #d9d9d9;
  -moz-box-shadow: 0px 1px #d9d9d9;
  -o-box-shadow: 0px 1px #d9d9d9;
  box-shadow: 0px 1px 5px #d9d9d9;
  position: relative;
}
.heading {
  padding-left: 80px;
}
.i-assignment {
  background: url(../images/icon-lg-assignment.png) no-repeat left bottom;
}
.i-review {
  background: url(../images/icons-lg-review.png) no-repeat left bottom;
}
.i-details {
  background: url(../images/icons-lg-details.png) no-repeat left bottom;
}
.i-check {
  background: url(../images/icons-lg-check.png) no-repeat left bottom;
}
.i-settings {
  background: url(../images/icons-lg-settings.png) no-repeat left bottom;
}
.i-forum {
  background: url(../images/icons-lg-forum.png) no-repeat left bottom;
}
th {
  font-weight: 500;
  color: #999999;
}
.ass-title {
  color: #444444;
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
}
.info {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  padding: 0 8px;
  margin-top: 5px;
}
.info:link,
.info:visited {
  background-color: #c1c3c5;
  color: white;
}
.info:hover {
  background-color: #2196f3;
  color: white;
}
.btn {
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  font-size: 12px;
}
.btn-default {
  background-color: #e3e4e5 !important;
  color: #808284;
}
.btn-primary {
  background-color: #076fb8 !important;
  color: white;
}
.btn:hover {
  background-color: #2196f3 !important;
  color: white;
}
.btn-default.btn-secondary {
  background-color: #f9f9f9 !important;
  color: #808284;
}
.btn.btn-secondary:hover {
  background-color: white !important;
  color: #2196f3;
}
.btn-primary.btn-secondary {
  background-color: #f9f9f9 !important;
  color: #076fb8;
}
.container-md {
  width: 98%;
}
.tab-content {
  float: right;
  padding-left: 53px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
}
.container h3 {
  font-weight: 400;
  font-size: 20px;
  padding: 0 0 15px 0;
}
.container table.content th {
  color: #444444;
}
.container h4 {
  padding: 10px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  color: #444444;
}
/*
// END: GENERAL STYLES
// -------------------------------------------------- */

/*
// 3. PAGE STYLES
// -------------------------------------------------- */

/*
// 3.1. BASE - PAGE STYLES
// -------------------------------------------------- */

header .container {
  padding: 15px 0;
  margin-bottom: 20px;
}
.temporal {
  float: right;
  padding-top: 5px;
}
.table {
  margin: 10px 0;
}
.header-icon {
  float: right;
  display: inline-block;
  padding: 5px 0  0 10px;
}
/*
// END: BASE - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.2. INDEX - PAGE STYLES
// -------------------------------------------------- */

p.status {
  font-weight: bold;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
}
span.status {
  font-weight: bold;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  display: inline-block;
}
p.status.positive {
  background: url(../images/icons-md-unlocked.png) no-repeat center top;
}
p.status.negative {
  background: url(../images/icons-md-locked.png) no-repeat center top;
}
p.status.code {
  background: url(../images/icons-md-code.png) no-repeat center top;
}
span.status.pin-gray {
  background: url(../images/icons-sm-pin-gray.png) no-repeat center top;
}
span.status.pin-red {
  background: url(../images/icons-sm-pin-red.png) no-repeat center top;
}
p.status.flag-green {
  background: url(../images/icons-md-flag-green.png) no-repeat center top;
}
p.status.flag-red {
  background: url(../images/icons-md-flag-red.png) no-repeat center top;
}
.plus-button {
  position: absolute;
  top: 50px;
  right: 40px;
}
/*
// END: INDEX - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.3. ASSIGNMENT - PAGE STYLES
// -------------------------------------------------- */

.file-upload {
  padding-left: 20px;
}
.file-upload label,
.file-upload input {
  display: inline-block;
}
.file-upload label {
  font-weight: normal;
  padding-right: 10px;
}
.file-uploaded.alert {
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.form-group p label {
  display: block;
  margin-top: 15px;
}
.form-group p input[type="text"],
.form-group p textarea {
  width: 40%;
}
/*
// END: ASSIGNMENT - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.4. ASSIGNMENT DESCRIPTION - PAGE STYLES
// -------------------------------------------------- */

/*
// END: ASSIGNMENT DESCRIPTION - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.5. SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

p.instructions {
  font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}
p.instructions span {
  border-radius: 250px;
  font-size: 18px;
  color: white;
  text-align: center;
  background: #434244;
  padding: 4px 9px;
  font-size: 14px;
  margin-right: 5px;
}
.nav-tabs {
  position: relative;
  top: 21px;
  z-index: 9999;
}
span.glyphicon {
  font-size: 18px;
  margin-right: 5px;
}
i.glyphicon-file {
  padding-right: 5px;
}
div#filetree {
  margin-bottom: 10px;
  overflow-x: auto;
}
pre#filecontents {
  overflow: visible;
  word-wrap: auto;
  width: 100%;
  background: url(../images/80char.png) repeat-y left top #434244;
  padding-bottom: 20px;
  color: white;
}
.review-buttons {
  text-align: right;
  padding-right: 15px;
}
/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.5. SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.6. CODE VIEW/REVIEW - PAGE STYLES
// -------------------------------------------------- */

#save-notification {
  font-size: 12px;
  color: #808284;
  position: absolute;
  right: 16px;
  top: -22px;
}
/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// 3.7. HELP FORUM - PAGE STYLES
// -------------------------------------------------- */

.format {
  background-color: #e4e5e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
}
.format h3 {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  background: url(../images/icons-sm-instructions.png) no-repeat left top;
  padding: 5px 0 15px 35px;
  border-bottom: solid 1px #bfc0c1;
}
.instruction-set {
  width: 50%;
  float: left;
  padding-bottom: 5px;
}
.instruction-set pre {
  background-color: transparent;
  border: none;
  color: #959595;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}
.set-row {
  display: block;
  width: 100%;
}
.instruction-set h4 {
  color: #444444;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
}
.instruction-set p {
  font-size: 12px;
}
.form-group p label {
  color: #444444;
  font-size: 14px;
  font-weight: 500;
}
.form-group p input[type="text"],
.form-group p textarea {
  background-color: white;
  border: 1px solid #e3e4e5;
  width: 95%;
  padding: 5px 10px;
  margin: 10px 0;
}
.form-group input[type="submit"] {
  background-color: #076fb8 !important;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 5px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.form-group input[type="submit"]:hover {
  background-color: #2196f3 !important;
  color: white;
}
.form-group input[type="checkbox"] {
  margin-bottom: 5px;
}
.settings-button {
  margin-top: 15px;
}
.questions-user {
  color: #444444;
  font-weight: 500;
  font-size: 14px;
}
.questions-small {
  font-size: 11px;
  color: #999999;
}
p span.questions-small {
  padding-left: 10px;
}
span.glyphicon-ok {
  color: #75bf8e;
}
p.staff-question + p {
  /*border: 1px solid orange;*/
  background: #d3ecf4;
  padding: 10px;
}
/*
// END: SUBMISSION - PAGE STYLES
// -------------------------------------------------- */

/*
// 4. PLUGINS
// -------------------------------------------------- */

div.annotator-controls {
  padding: 0 15px 5px 15px !important;
}
div.annotator-controls a {
  display: inline-block;
}
div.annotator-controls a.annotator-cancel {
  float: left;
}
div.annotator-controls a.annotator-save {
  float: right;
  position: relative;
  top: -10px;
}
/*
// END: PLUGINS
// -------------------------------------------------- */

